/*
#9370DB purple
#228B22 forest green
*/
body{
	font-family: 'Antic', sans-serif !important;
	background-color: silver !important;
	background-image: url("../images/purty-wood.png");
}

a{
	color: #555 !important;
}
a:hover{
	color: #9370DB !important;
	text-decoration: none !important;
}

.container{
	font-size: 1.15em !important;
}

.navbar{
	background-color: #9370DB !important;
	z-index: 1 !important; 
	font-family: 'Baloo Da', cursive !important;
}
.navLogo{
	width: 8%;
	border-radius: 50%;
}
.navbar-brand{
	font-size: 110% !important;
	color: black !important;
	font-family: "Bungee" !important;
}
.navbar-brand:hover{
	color: black !important;
}
.nav-item{
	color: silver !important;
}
.nav-item:hover{
	color: black !important;
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
.slideshow { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.slideshow li { 
  display: block;
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/P1q1lpy.png) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://i.imgur.com/VFlBqZS.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://i.imgur.com/cwmo9AJ.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/h2oCOma.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/1inu1aK.jpg);
  animation-delay: 40s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.clear{
  clear: both;
  height: 400px;
}


iframe {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

#top{
  float: left;
  border-radius: 10px;
  padding: 2%;
  line-height: 200%;
}
#top h3{
  text-indent: 2%;
  color: #9370DB;
  text-decoration: underline;
  font-weight: 500px;
  margin-bottom: 5%;
}

#practice{
  float: right;
  margin-top: 3%;
  line-height: 160%;
}
#practice h4{
  color: #9370DB;
  text-decoration: underline;
  padding-bottom: 5%;
}
#practice h5{
  font-weight: 500px;
}

.list-unstyled {
	padding-bottom: 5%;
}
.list-unstyled img{
	border-radius: 50%;
	width: 50%;
}
.list-unstyled li{
	font-size: 1.5em;
	color: #228B22;
}

#contact a{
	color: #9370DB;
}
#contact a:hover{
	color: #555;
}
#contact i{
	margin-top: 5%;
	padding: 2%;
}

#credit p{
	text-align: right;
	font-size:12px; 
	color:dimgray; 
	padding-right:10px;
}






/* Media queries for resposiveness*/
      
@media only screen and (max-device-width : 1024px) {
    .scroll-top{
        visibility:visible;
      }
    }
    .scroll-top {
        z-index:1049;
        position:fixed;
        visibility:visible;
        bottom:8%;
        right:5%;
    }

    /* Responsive iFrame */
  .responsive-iframe-container {
    position: relative;
    padding-bottom: 30%;
    padding-top: 30px;
    height: 0;
    width: 10%;
    overflow: hidden;
  }
  .responsive-iframe-container iframe,
  .vresponsive-iframe-container object,
  .vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } 
}




